  body {
      position: relative; 
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  .section {padding-top:40px;height:200px; }

  #site-title {color : black}
  a:hover
  {
    text-decoration:  none;
    color:            #4d4d4d;
  }

  a.decor{
    border-radius: 15px;
    border: 1px solid #b8b894;
    padding: 10px;
    width: 20px;
    height: 20px; 
  }

 

